<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <script>
        function validateForm() {
            var x = document.forms["authForm"]["password"].value;
            if (x == "") {
                alert("Password must be filled out");
                return false;
            }
        }
    </script>
</head>
<body>
  <div class="">
    <h1><span>Accessing</span></h1>
    <div><span>Using your Navigator Account:</span></div>
  </div>
  <div>
    <br /><br />
    <form name="authForm" action="{{ action_url }}" onsubmit="return validateForm()" method="post">
        Username:<br>
        <input type="text" name="username">
        <br>
        Password:<br>
        <input type="password" name="password">
        <br><br>
        <input type="hidden" name="response_type" value="{{ response_type }}">
        <input type="hidden" name="client_id" value="{{ client_id }}">
        <input type="hidden" name="redirect_uri" value="{{ redirect_uri }}">
        <input type="hidden" name="scope" value="{{ scope }}">
        <input type="hidden" name="state" value="{{ state }}">
        <input type="hidden" name="code_challenge" value="{{ code_challenge }}">
        <input type="hidden" name="code_challenge_method" value="{{ code_challenge_method }}">
        <input type="hidden" name="nonce" value="{{ nonce }}">
        <input type="hidden" name="prompt" value="{{ prompt }}">
        <input type="submit" value="Submit">
    </form>
  </div>
  {% if upstream_providers %}
  <div>
    <hr />
    <div><span>Or sign in with:</span></div>
    <br />
    {% for provider in upstream_providers %}
    <div>
      <a href="{{ action_url }}?provider={{ provider }}&amp;response_type={{ response_type }}&amp;client_id={{ client_id }}&amp;redirect_uri={{ redirect_uri }}&amp;scope={{ scope }}&amp;state={{ state }}&amp;code_challenge={{ code_challenge }}&amp;code_challenge_method={{ code_challenge_method }}&amp;nonce={{ nonce }}&amp;prompt={{ prompt }}&amp;resource={{ resource }}">
        Continue with {{ provider|capitalize }}
      </a>
      <br /><br />
    </div>
    {% endfor %}
  </div>
  {% endif %}
</body>
</html>
